				<!-- Sidebar -->
                <div id="sidebar">
                    <div class="inner">

                        <!-- <section style="z-index:1000;position:sticky; top:0" id="search" class="alt">
                            <form method="post" action="#">
                                <input type="text" name="query" id="query" placeholder="Search Dictionary" />
                            </form>
                            <p>Search for any word!</p>
                        </section> -->
                        
                         

                        <!-- Menu -->
                            <nav id="menu">
                                <header class="major">
                                    <h2>Menu</h2>
                                </header>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/blogs">Blogs</a></li>
                                    <li><a href="/poems">Poetry</a></li>
                                    <li><a href="/stories">Short Stories</a></li>
                                    <li><a href="/fictions">Flash Fiction</a></li>
                                    <li><a href="/miscellaneous">Miscellaneous</a></li>
                                    <li><a href="/submit">Submissions</a></li>
                                    <li><a href="/terms">Terms Of Use</a></li>
                                    <!-- <li>
                                        <span class="opener">Documentation</span>
                                        <ul>
                                            <li><a href="/docs/club">Club</a></li>
                                            <li><a href="/docs/developer">Developer</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li><a href="#">Etiam Dolore</a></li> -->
                                    <!-- <li><a href="#">Adipiscing</a></li> -->
                                    <!-- <li>
                                        <span class="opener">Another Submenu</span>
                                        <ul>
                                            <li><a href="#">Lorem Dolor</a></li>
                                            <li><a href="#">Ipsum Adipiscing</a></li>
                                            <li><a href="#">Tempus Magna</a></li>
                                            <li><a href="#">Feugiat Veroeros</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li><a href="/poetry">Poetry</a></li> -->
                                    <!-- <li><a href="#">Amet Lacinia</a></li> -->
                                </ul>
                            </nav>

                            <section>
                                <header class="major">
                                    <h2>Get in touch</h2>
                                </header>
                                <p>For any queries or questions regarding  membership or activities of the club, kindly contact on the number given below or send an email on the disclosed mail ID.</p>
                                <ul class="contact">
                                    <li class="icon solid fa-envelope"><a target="_blank" href="mailto:inkyparchments@gmail.com">inkyparchments@gmail.com</a></li>
                                    <li class="icon solid fa-phone">General Secretary: +91 98208 91974</li>
                                    <!-- Nashville, TN 00000-0000</li> -->
                                </ul>
                            </section>

                        <!-- Footer -->
                            <footer id="footer">
                                <p class="copyright">Our <a target="_blank" href="https://www.instagram.com/inkyparchments.ashoka/">instagram</a>. &copy; Inkyparchments. Rights Reserved. <a href="/licenses-and-credits">Credits</a>.</p>
                            </footer>
                    </div>
                </div>