<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<%-include("partials/icons")%>
								</header>

							<!-- Content -->
								<section>
									<!-- <header class="main">
										<h1>Elements</h1>
									</header> -->

									<!-- Content -->
										<h2 id="content"><%=err%></h2>
										<p>An error occurred trying to render the content you requested. The link you followed might be broken or the page might've been moved. </p>
										<!-- <p><%=err%></p> -->
									</section>	

						</div>
					</div>
					<%-include("partials/side-menu-small")%>


			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>